nav
  .flex.border-b-2.mb-4
    = link_to title1, url1, class: 'tab-nav-item py-2 px-4 font-semibold text-gray-600 border-b-2 border-transparent hover:text-blue-600 cursor-pointer'
    = link_to title2, url2, class: 'tab-nav-item py-2 px-4 font-semibold text-gray-600 border-b-2 border-transparent hover:text-blue-600 cursor-pointer'

