= render partial: '/shared/filter', locals: { url: @url }

div
  = render partial: '/shared/tabs', locals: { pagy: @pagy, title1: 'Books', title2: 'My Borrows', url1: dashboard_path, url2: dashboard_member_borrows_path }
  = render partial: 'dashboards/member_tabs/books'
